<div class="todos_for_project">
    <h2>{{ project_text }}</h2>
    <form id="new_todo_form">
        {% csrf_token %}
        <div id="new_todo">
            <label for="id_todo">New todo:</label>
            <input id="id_todo" data-item-id="{{project_id}}" maxlength="200" name="todo" type="text">
            <input type="submit" value="Submit" disabled="disabled"/>
        </div>
    </form>
    <button data-item-id="{{ project_id }}" class="complete">Show done todos</button>
    <ul id="todos" >
        {% if todo_list %}
            {% for todo in todo_list %}
                <li data-item-id="{{todo.id}}" class="todo_item {{ todo.complete }}">{{ todo.todo_text }}<button data-item-id="{{ todo.id }}" class="done_button {{ todo.complete }}">Done</button><button data-item-id="{{ todo.id }}" class="delete_button">Delete</button></li>
            {% endfor %}
        {% endif %}
    </ul>
    <div class="todos_completed">
    </div>
<button data-item-id="{{ project_id }}" class="delete_project_button">Delete project {{project_text}}</button>
</div>