<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>

<!--<form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <label for="new_todo">To do: </label>
    <input id="new_todo" type="text" name="new_todo" value="{{ new_todo }}">
    <input type="submit" value="Add to list">
</form>-->

<form method="post" id="get_name">
    {% csrf_token %}
        <div class="fieldWrapper" id="the_post">
            {{ form }}
        </div>
    <input type="submit" value="Submit" />
</form>
<script type="text/javascript" src="/static/scripts/main.js"></script>

{% if todo_list %}
    <ul>
    {% for todo in todo_list %}
        <li>{{ todo.todo_text }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>Take a break you have nothing on the to do list!!!</p>
{% endif %}


</body>
</html>