li button {
    margin-left: 10px;
}

#main, #projects_div {
    text-align: center;
}

#todos {
    display: block;
    text-align:center;
}
#todos li {
    display: inherit;
    padding-top: 5px;
}

label {
    margin-right: 7px;
}

.True {
    text-decoration: line-through;
}

.done_button.True {
    display: none;
}

.project {
    display: inline;
}


